/* Rawcliffe Bridge Planning Systems Dashboard Theming */

/* Dark border */
$dark-border-color: #28a745;

/* Dashboard Card Theme */
$card-border-color: #3F8957;
$dark-background-card: #343A40;

/* Dashboard Side Navigation */
$rb-controls-dark-background-color: rgb(30, 30, 30);
