/* Rawcliffe Bridge Planning Systems Dashboard Theming */

/* Dashboard Header */
$rb-dashboard-header-colour: #003932;

/* Dashboard Navigation */
$rb-dashboard-navigation-colour: #1E1E1E;
$rb-dashboard-navigation-text-colour: #dadada;
$rb-dashboard-navigation-text-hover-colour: #F7F7F7;

/* Light Mode */

/*
 Dark Mode
*/



/* Dashboard Background Gradient and Fallback colour */
$dark-background-gradient: linear-gradient(to bottom right, #373737, #191919);
$rb-background-fallback: #0F0F0F;

/* Border */
$dark-border-color: #28a745;

/* Dashboard Card Theme */
$card-border-color: #3F8957;
$dark-background-card: #343A40;

/* Controls
    Includes:
    -Navigation
    -Filter
*/

