.content {
    &__title {
        color: #F7F7F7;
        font-weight: 400;
        letter-spacing: .1rem;
        font-size: 2.25rem !important;
    }
}

.report-label {
    margin-bottom: 1rem;
    color: $rb-primary-text-colour-dark-1;
    letter-spacing: .1rem;
    font-size: 1.25rem;
}